
div.banner {
    background: #050;
    font-weight: bold;
    margin: auto;
    width: 80%;
    min-height: 240px;
    padding: 1em;
    display: flex;
    flex-flow: row;
}

div.bannerimage {
    flex: initial;
}

div.banner img {
    float: left;
    top: 50%;
    left: -4em;
    margin-top: -120px;
    position: relative;
}

div.bannertext {
    display: flex;
    flex-flow: column;
}

div.bannerimage {
    vertical-align: center;
}

div.bannertext p {
    flex: auto;
    color: #fff;
    font-size: 13pt;
    margin: 0.7em 1em;
}

div.bannertext h1 {
    flex: auto;
    color: #fff;
    margin: 0.7em 1em;
}

div.columns {
    display: flex;
    flex-flow: row;
    margin: auto;
}

div.column {
    display: flex;
    flex-flow: column;
    background: #9cf;
    flex: 1;
    margin: 1.5em;
    padding: 15px;
}

div.column h2 {
    flex: initial;
    margin: auto;
    margin-bottom: 1em;
    font-size: 15pt;
}

div.column p {
    flex: auto;
}

div.column p a { 
    font-size: 12pt;
    text-decoration: none;
    color: #005;
}

div.footer {
    background: #050;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 12pt;
    width: 50%;
}

@media (max-width: 800px) {
    div.banner {
        flex-flow: column;
    }
    div.banner img {
        top: 0px;
        margin-top: 0px;
        left: 50%;
        margin-left: -150px;
    }
    div.columns {
        flex-flow: column;
    }
}